# What is Python
Python is both complied and interpreted, object-oriented, high level of programming language with dynamics semantics.

> Creator: **Guido Van Rossum (1991)**

## Comment is Python
Python have two type of comments:
- Single Line
- Multiple Line

In [ ]:
# this is single line comment
'''
this is
Multiple line
comments
'''

### Docstring
docstring is basically the documentation of the above program or function.

In [ ]:
def print_max(x, y):
    '''Prints the maximum of two numbers.
          The two values must be integers.'''

 # convert to integers, if possible
    x = int(x)
    y = int(y)
    if x > y:
        print(x, 'is maximum')
    else:
        print(y, 'is maximum')


print_max(3, 5)

5 is maximum

In [ ]:
print_max.__doc__ # access the documentation of the function

'Prints the maximum of two numbers.\nThe two values must be integers.'

# Variables in Python
Rule of writine a variables:
- use `_` (underscore) to separate the names while writing a variable not space.
- A variable name never start with a numbers or special symbols

In [ ]:
1var = 20 # wrong way

In [ ]:
# Creating Variable

var1 = 20
var_1 = 10

In [ ]:
# best practice- use camelcase for multiple words variable

yourAge = input("What is your Age? ")
print(yourAge)

whatIsYourName = input("What is your Name: ")
print(whatIsYourName)

In [ ]:
# creating multi line variable
number = (
    1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9
)

print(number)

# Assigning Mutliple Variable in same line
num1 = 10; num2 = 20; num3 = 30
print(num1, num2, num3)

var1 = var2 = var3 = 35
print(var1)
print(var2)
print(var3)

var_sum = var1 + var2 + var3

print(var_sum)

i = 5
print(i)
i = i + 1
print(i)

s = '''This is a multi-line string.
This is the second line.'''
print(s)

### Indetation
whitespace in important in python.Actually, whitespace at the beginning of the line important, this is called **indentation**.

In [ ]:
i = 5

# Error below! Notice a single space at the start of the line
 print('Value is', i)
print('I repeat, the value is', i)

IndentationError: unexpected indent (ipython-input-4-1220124981.py, line 4)

# Data Type and User-Input
python has automatically assign data type of variable, you don't need to assign it.

In [ ]:
a = "hello"  # str

# numeric
b = 10  # int
c = 10.5  # float
d = 5+6j  # complex

# Boolean
e = True  # bool
f = False # bool

# Sequence
g = [1, 2, 3, 4]  # list
h = (1, 2, 3, 4)  # tuple
i = {1, 2, 3, 4}  # set
# set
o = frozenset({1, 2, 3, 4})  # frozenset

# Mapping
j = {1: 'one', 2: 'two', 3: 'three'}  # dict

# binary
k = b'hello'  # bytes
l = bytearray(5)  # bytearray
m = memoryview(bytes(4))  # memoryview

# None
n = None  # NoneType

## User Input
_Python_ allows for _user input_. That means we are able to ask the _user_ for _input_.

> Note: Input function take inputs in only **string format**.

In [ ]:
# take input by user
yourName = input("Enter your name: ")
whatAge = int(input("Enter your age: ")) # input convert into integer

print("Hello, ", yourName)
print("Your age is ", whatAge)

## Type-Casting and subtype
Conversion of one data type to another is called type-casting.

Two type of type-casting:
1. **Implicit**: where python itself convert one to another datatype
2. **Explicit**: where the user converts one datatypes to another.

In [ ]:
# implicit type conversion
a = 23
b = 23.4

print(type(a))
print(type(b))

In [ ]:
# Explicit Type Conversion
a = '200'
print(type(a))

b = int(a)
print(type(b))  # string to int

# Operators and Operands
- **Operators** indicates what operations is to be peformed.
- **Operands** indicated on what the action or the operation should be performed.

> x + y = 10, here
> x, y and 10 are operands and + is operators

## Type of Operators
Python divides the operators in the following Groups:

### Arithmetic Operators

In [ ]:
# Arithmetic Operators
a = 10
b = 3

print(a + b) # Addition
print(a - b) # Subtraction
print(a * b) # Multiplication
print(a / b) # Division
print(a % b) # Modulus
print(a ** b) # Exponentiation

# Note that if one of the values is a float, you'll get back a float.
print(a // b) # Floor division

In [ ]:
# Shortcut Math Expression

a = 2
a*= 3 # it mean a = a * 3
print(a)

6

### Comparision Operators

In [ ]:
# Comparison Operators
a = 10
b = 3

print(a == b) # Equal to
print(a != b) # Not equal to
print(a > b) # Greater than
print(a < b) # Less than

Note:
 - The ***`==` operator (equal to)*** asks whether two values are the same as each other.
 - The ***`=` operator (assignment)*** puts the value on the right into the variable on the left.

### Logical Operators

In [ ]:
# Logical Operators
a = True
b = False

print(a and b) # and - both conditions must be true
print(a or b) # or - at least one conditions must be true
print(not a) # not - inverts the condition

### Indetity Operators

In [ ]:
# Indentity Operators- used to check the indentity
a = 10
b = 3

print(a is b) # is
print(a is not b) # is not

### Membership Operators

In [ ]:
# Membership Operators- used to check the presence of a sequance in an object
a = "Hello"
b = 'e'

print(b in a) # in
print(b not in a) # not in

### Bitwise Operators

In [ ]:
# Bitwise Operators
a = 10
b = 2

print(a & b) # and
print(a | b) # or
print(a ^ b) # xor

print(~a) # not
print(a << b) # left shift - Shifts the bits of the number to the left by the number of bits specified.
print(a >> b) # right shift - same do for right

# Random Numbers
Python has ability to generate random numbers using their random library.

In [ ]:
import random

dir(random) # all method show in random module
help(random) # description of the methods and functions in random module

In [ ]:
# rolling a dice

number = random.randint(1,6) # generate random integer number
number

In [ ]:
# generate random integer number usig variables

low = 1; high = 30

num = random.randint(low, high)
num

22

In [ ]:
# generate random float number

floatNumber = random.random() # return float between 0 to 1..
floatNumber

In [ ]:
# option which is randomly select

options = ("rock", "paper", "scissors")

selectOption = random.choice(options)
selectOption

'rock'

In [ ]:
# shuffling the randoms

cards = [2,3,4,5,6,7,8,9,10,'J','Q','K','A']
random.shuffle(cards)

cards

# Conditional Statements
Conditional statements allows computers to execute a certain conditions only if it is true.

## Type of conditional statements
- if
- if-else
- if-elif-else
- Nested statement
- short hand if statement

### if

In [ ]:
# if
marks = 82

if marks >= 90:
    print("Grade A")

print("Other Rank")

### if-else

In [ ]:
# if-else
age = 20
if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

### if-elif-else

In [ ]:
# if-elif-else
marks = 76

if marks >= 90:
    print("Grade A")
elif marks >= 80:
    print("Grade B")
elif marks >= 70:
    print("Grade C")
else:
    print("Grade D")

### Nested Statement

In [ ]:
# nested statement
num = 10

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

### short hand if statement

In [ ]:
# short hand if statement - one line statement
a = 10
b = 20

if a < b: print("a is less than b")

#### short hand if-else statement
Conditional expression - A one line shortcut for the if-else statement(Ternary Operator).

here, X if condition else Y

In [ ]:
a = 10
b = 20

# body of if; if condition; else; body of else
print("a is less than b") if a < b else print("a is greater than b")

# Loops
A loop means to repeat something in the exact same way.

## Types of loops are:
1. For
2. While
3. While True
4. Nested

### for

In [ ]:
# for loop

for i in range(10): # range() means range between --> 1 to 10
    print(i)

### while

In [ ]:
# while loop

i = 0 # start
while i < 10: # condition
    print(i)
    i += 1 # increment

### while True

In [ ]:
# while true -- not important, rarely use case
i = 0
while True:
    print(i)
    i += 1
    if i >= 100:
        break

### Nested loop

In [ ]:
# nested loop - a loop inside a loop is called as nested loop.

for i in range(1,6):
    for j in range(1, i+1):
        print(j, end = ' ')
    print()

### for loop with conditional statement

In [ ]:
# for loop with conditional statement
for i in range(1,10):
    if i % 2 == 0:
        print(i)

2
4
6
8

In [ ]:
# conditional statement with and operator
for i in range(1, 101):
    if i % 2 == 0 and i % 3 == 0:
        print(i)

### `enumerate()` function

In [ ]:
num = [2,2,3,1,3,4,6]
# enumerate return value and index
for index, value in enumerate(num):
    print(index,value)

# Break and Continue Statement

## Continue Statement
continue statement is used when you want to skip a particular condition.

In [ ]:
# Continue statement
for i in range(1, 10):
    if i == 5:
        continue
    print(i)

## Break Statement
break statement is used to destroy a loop at a certain condition and come out of the loop

In [ ]:
# Break Statement
for i in range(1,10):
  if i == 8:
    break
  print(i)

1
2
3
4
5
6
7